.our-team-bc {
    background-color: var(--our-team-bc);
}

.team-cards {
    display: flex;
    justify-content: center;
    width: 1140px;
    margin-left: 0;
}

.team-names-position {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}

.team-cards-list {
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--header-and-color-white);
}

.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--heading-color);
    margin-bottom: 10px;
    text-align: center;
}

.team-position {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--p-color);
    margin-bottom: 16px;
    text-align: center;
}

.social-list-icon {
    display: flex;
    fill: #afb1b8;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
}

.our-team {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--heading-color);
    margin-top: 0;
    text-align: center;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.icons-list {
    display: flex;
    justify-content: space-between;
}

.social-list-link {
    display: flex;
    fill: #afb1b8;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover
    &:focus{
    fill: var(--header-and-color-white);
    background-color: var(--background-color);
    }
}

