.our-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--heading-color);
    text-align: center;
}

.heading-our-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.our-work-img {
    display: flex;
    box-sizing: border-box;

}

.our-work-list:not(:last-child) {
    margin-right: 30px;
}