:root {
--header-and-color-white: #FFFFFF;
--background-color: #2196F3;
--hero-footer-background-color: #2F303A;
--about-our-work-background-color: #E5E5E5;
--our-team-bc: #F5F4FA;
--heading-color: #212121;
--p-color: #757575;
--main-font-text: 'Roboto', sans-serif;
--secondary-font-text: 'Raleway', sans-serif;
}